body {
    background: #f3f3f3;
    font-family: 'Roboto';
    font-weight: 400;
}

ion-icon {
    width: 3.5rem;
    height: 3.5rem;
}

header,
.send-message {
    width: 100%;
    height: 8rem;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 2.2rem;
}

.send-message span {
    font-style: italic;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

main {
    margin-block: 9rem;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

main ul li {
    width: 100%;
    min-height: 5rem;
    background: white;
    border-radius: 2px;

    display: flex;
    align-items: center;
    padding-inline: 0.8rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.send-message {
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.send-message input {
    border: none;
    height: 100%;
    width: 100%;
}

.send-message input::placeholder {
    font-style: italic;
}

.send-message input,
.send-message input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

input:focus {
    outline: 0;
}

button {
    background: none;
    border: none;
}

.container-messages li {
    background: white;
}

.container-messages .bg-grey {
    background: #dcdcdc;
}

.container-messages .bg-pink {
    background: #ffdede;
}

.navigation {
    font-size: 1.6rem;
    padding-inline: 2rem;
}

.loggedUsers li,
.visibility li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.loggedUsers li span,
.visibility li span {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.loggedUsers ion-icon:nth-child(2),
.visibility ion-icon:nth-child(2) {
    width: 1.9rem;
    height: 1.7rem;
    color: #28bb25;
    visibility: hidden;
}

.loggedUsers .check.checked,
.visibility .check.checked {
    visibility: visible;
}

.loggedUsers ul,
.visibility ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.sidebar p {
    font-weight: 700;
    line-height: 1.9rem;
    margin-block: 3rem;
    text-align: center;
}

.loggedUsers ion-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.visibility ion-icon {
    width: 2.2rem;
    height: 2.2rem;
}

.sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.sidebar.disabled {
    display: none;
}

.return {
    width: 30%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

.navigation {
    width: 70%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
}
.sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.sidebar.disabled {
    display: none;
}

.return {
    width: 30%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

.navigation {
    width: 70%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
}
